<% if (theme.totop){ %>
	<div id="totop">
	<a title="<%= __('totop')%>"><img src="https://cdn.jsdelivr.net/gh/roadwide/roadwide.github.io@master/img/scrollup.png"/></a>
	</div>
	<script src="https://cdn.jsdelivr.net/gh/roadwide/roadwide.github.io@master/js/totop.js"></script>
<% } %>